@page "/counter"
@using System.Net.Http.Json;
@using System.Net.Http;
@using System.Net.Http.Headers;
@using System.Text.Json
@using BlazorApiClient.Logic

@inject IHttpClientFactory factory;
@inject TokenModel tokeninfo;

@* @inject IDemoLogic Demo;  // Used for DependencyInjection >> Call other Methods
 *@
 
<PageTitle>Todo List</PageTitle>
@{
    

    <div class="h4">
        Value 1 : @DemoVal.Value1
    </div>

    <div class="h4">
        Value 2 : @DemoVal.Value2
    </div>
}

<br />
<br />

<h1>Todo List</h1>
@if (string.IsNullOrEmpty(errorMessage) == false)
{
    <div class="h3 text-danger">@errorMessage</div>
}

<button class="btn btn-primary" @onclick="FetchTodos">Get Todo List</button>

<br />
<br />
<h1>Add a new Todo</h1>

@{
    <EditForm Model="addTODO" OnSubmit="SaveNewTodo">
        <InputText @bind-Value="addTODO.Task" />
        <button class="btn btn-success" type="submit"> ADD </button>
    </EditForm>
}

<br />
<br />
@if (todos is not null)
{
    @foreach (var t in todos)
    {
        if (t.IsComplete)
        {
            <div class="h2">
                @t.Task (Completed)

                <button class="btn-sm btn-info"
                        @onclick="()=> Deletetodo(t)">
                    Delete
                </button>
            </div>
        }
        else if (t.IsComplete == false)
        {
            <div class="h2">
                @t.Task
                <button class="btn-sm btn-primary"
                        @onclick="()=> CompleteTodo(t)">
                    Complete
                </button>
                <button class="btn-sm btn-info"
                        @onclick="()=> Deletetodo(t)">
                    Delete
                </button>
            </div>

        }

        <div class="h2">
        </div>
    }
}


